<!-- =========================================================
     TODO 4.2a: Add the extends tag to inherit from base.html
     ========================================================= -->

<!-- TODO 4.2b: Set the 'title' block to display the post title
     using {{ post.title }}                                      -->

<!-- =========================================================
     TODO 4.2c: Add a 'content' block containing:
     ========================================================= -->
